*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
 body{
    background-color: darkgrey;
 } 
#home{
    width: 82%;
    margin: auto;
    min-height: 100vh;
}
/* hamburger */
#home .rmenu{
        width: 53px;
        /* height: 118px; */
        position: absolute;
        right: 47px;
        top: 150px;
        cursor: pointer;
        display: none;
}
#home .rmenu .rline {
    border: 2px solid;
    margin: 4px;
}
/* home page */
.content1{
    display: flex;
    /* flex-wrap: wrap; */
}
.mid{
    width: 70%;
}
.navbar{
    background-color: #ef8f88;
    padding-top: 110px;
}
#home h1{
    text-align: center;
    font-size: 80px;
    margin-top:30px;
    color: #008b8bbf;
    /* font-family: 'Roboto', sans-serif; */
}
#home .folio{
    color: #ff000057;
}
.navbar-right li{
    list-style: none;
    font-size: 50px;
    padding: 20px;
    width: 360px;
}
.navbar-right li:hover{
    background-color: #3F51B5;
    color: #FF5722;
    transform: scale(1.3);
    transition: 1s;
}
.navbar-right li a{
    text-decoration: none;
    color: black;
}
.navbar-right li .active{
    color: #FF5722;
}
.line{
    font-size: 45px;
    padding-top: 130px;
}
.line .line2{
    font-size: 53px;
    font-style: italic;
    color: #3F51B5
}
.line .line1{
    font-size: 27px;
}
.line button{
    width: 325px;
    padding: 10px;
    font-size: 27px;
    margin-top: 73px;
    margin-left: 124px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: bisque;
}
.line button:hover{
    background-color: #FF9800;
}
.line button a{
    text-decoration: none;
    color: black;
}
